    <figure class="gallery-item">
      <div class="content">
        <img src="/assets/images/{{file}}" title="{{title}}" />
        <figcomment class="tags">
        {{# each tags}}
          {{#if @last}}
            <a href="/tag/{{this}}">{{this}}</a>
          {{else}}
            <a href="/tag/{{this}}">{{this}},</a>
          {{/if}}
        {{/each}}
        </figcomment>
      </div>
    </figure>
