<form class="form" action="/books/{{id}}/edit" method="post">
  <img class="img-detail" src="{{cover}}" alt="{{title}}">
  <label for="title" class="form-item">
    Title:
    <input type="text" name="title" value="{{title}}">
  </label>
  
  <label for="author" class="form-item">
    Author:
    <input type="text" name="author" value="{{author}}">
  </label>
  
  <label for="genre" class="form-item">
    Genre:
    <input type="text" name="genre" value="{{genre}}">
  </label>

  <label for="rating" class="form-item">
    Rating:
    <input type="text" name="rating" value="{{rating}}">
  </label>

  <label for="review" class="form-item">
    Add a review:
  </label>
  <textarea value="PLAY" onclick="play()" rows="5" cols="40" name="review">{{review}}</textarea>
  <audio id="audio" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Evillaugh.ogg"></audio>
  <input type="hidden" name="cover" value="{{cover}}">
  
  <input type="submit" name="" value="Submit">
</form>

 <script>
      function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }
    </script>
