<section class="gallery" id="gallery">
  {{#each fuzzles}}
    {{>figure}}
  {{/each}}
</div>


{{!-- <div class="gallery" id="gallery">
  {{#each fuzzles}}
    <div class="gallery-item">
      <div class="content">
        <img src="/assets/images/{{file}}" title="{{title}}" />
        <div class="tags">
        {{# each tags}}
          {{#if @last}}
            <a href="/tag/{{this}}">{{this}}</a>
          {{else}}
            <a href="/tag/{{this}}">{{this}},</a>
          {{/if}}
        {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div> --}}
